.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
balijepalli
balijepalli.pub
.idea/balijepalli.github.io.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/plugins/hexo-auto-updater/main.js
.obsidian/plugins/hexo-auto-updater/manifest.json
.obsidian/plugins/hexo-auto-updater/styles.css
.obsidian/plugins/hexo-publisher/data.json
.obsidian/plugins/hexo-publisher/main.js
.obsidian/plugins/hexo-publisher/manifest.json
.obsidian/plugins/notion-like-tables/data.json
.obsidian/plugins/notion-like-tables/main.js
.obsidian/plugins/notion-like-tables/manifest.json
.obsidian/plugins/notion-like-tables/styles.css
.obsidian/plugins/obsidian-excalidraw-plugin/data.json
.obsidian/plugins/obsidian-excalidraw-plugin/main.js
.obsidian/plugins/obsidian-excalidraw-plugin/manifest.json
.obsidian/plugins/obsidian-excalidraw-plugin/styles.css
.obsidian/types.json
.obsidian/workspace.json
source/about/index.md
Win Blog/chrome_100_percent.pak
Win Blog/chrome_200_percent.pak
Win Blog/d3dcompiler_47.dll
Win Blog/ffmpeg.dll
Win Blog/icudtl.dat
Win Blog/libEGL.dll
Win Blog/libGLESv2.dll
Win Blog/LICENSE.electron.txt
Win Blog/LICENSES.chromium.html
Win Blog/locales/af.pak
Win Blog/locales/am.pak
Win Blog/locales/ar.pak
Win Blog/locales/bg.pak
Win Blog/locales/bn.pak
Win Blog/locales/ca.pak
Win Blog/locales/cs.pak
Win Blog/locales/da.pak
Win Blog/locales/de.pak
Win Blog/locales/el.pak
Win Blog/locales/en-GB.pak
Win Blog/locales/en-US.pak
Win Blog/locales/es-419.pak
Win Blog/locales/es.pak
Win Blog/locales/et.pak
Win Blog/locales/fa.pak
Win Blog/locales/fi.pak
Win Blog/locales/fil.pak
Win Blog/locales/fr.pak
Win Blog/locales/gu.pak
Win Blog/locales/he.pak
Win Blog/locales/hi.pak
Win Blog/locales/hr.pak
Win Blog/locales/hu.pak
Win Blog/locales/id.pak
Win Blog/locales/it.pak
Win Blog/locales/ja.pak
Win Blog/locales/kn.pak
Win Blog/locales/ko.pak
Win Blog/locales/lt.pak
Win Blog/locales/lv.pak
Win Blog/locales/ml.pak
Win Blog/locales/mr.pak
Win Blog/locales/ms.pak
Win Blog/locales/nb.pak
Win Blog/locales/nl.pak
Win Blog/locales/pl.pak
Win Blog/locales/pt-BR.pak
Win Blog/locales/pt-PT.pak
Win Blog/locales/ro.pak
Win Blog/locales/ru.pak
Win Blog/locales/sk.pak
Win Blog/locales/sl.pak
Win Blog/locales/sr.pak
Win Blog/locales/sv.pak
Win Blog/locales/sw.pak
Win Blog/locales/ta.pak
Win Blog/locales/te.pak
Win Blog/locales/th.pak
Win Blog/locales/tr.pak
Win Blog/locales/uk.pak
Win Blog/locales/ur.pak
Win Blog/locales/vi.pak
Win Blog/locales/zh-CN.pak
Win Blog/locales/zh-TW.pak
Win Blog/Obsidian.exe
Win Blog/resources.pak
Win Blog/resources/app.asar
Win Blog/resources/obsidian.asar
Win Blog/snapshot_blob.bin
Win Blog/Uninstall Obsidian.exe
Win Blog/v8_context_snapshot.bin
Win Blog/vk_swiftshader.dll
Win Blog/vk_swiftshader_icd.json
Win Blog/vulkan-1.dll
.obsidian/core-plugins-migration.json
.obsidian/hotkeys.json
Mac Blog
*.css
*.json
*.js
