.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
balijepalli
balijepalli.pub
.idea/balijepalli.github.io.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
